<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    <title>Gest Data</title>
</head>
<body>
    <section class="container">
        <div class="column-left">
        {% if current_user.creds | bitwise_and(2) == 2%}
        {% if warn == "none"  %}
        <h1>GEST INFO</h1>
        <h1>NAME: {{gest_data[0][1]}}</h1>
        <h1>EMAIL: {{gest_data[0][2]}}</h1>
        <h1>ROOM: {{gest_data[0][3]}}</h1>
        <a href="/scan"><button>BACK TO SCAN</button></a>
        {% else %}
        <h1>{{warn}}</h1>
        <a href="/scan"><button>BACK TO SCAN</button></a>
        {% endif %}
        {% else %}
        <h1>You do not have permissions</h1>
        <p><a href="/menu">menu</a></p>
        {% endif %}
        </div>
    </section>
</body>
</html>