<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if current_user.creds | bitwise_and(2) == 2%}
    {% if warn == "none"  %}
    {% if info != "none"  %}
    <h1 class="responsive-h1">{{info}}</h1>
    {% endif %}
    <h1 class="responsive-h1">The gest bagage</h1>
    <h1 class="responsive-h1">MARK AS DELIVERD</h1>
    {%for i in range(0, bagage_list_len)%} 
    <form action="#" method="post">
    <input type="checkbox" id="bagage" name={{bagage_list[i]}} value={{bagage_list[i]}}>
	<label for="bagage">Tag NR: {{bagage_list[i]}}</label>
    {%endfor%}
    <button type="submit">SUBMIT</button>
    </form>
    <p><a href="/scan">back to scan</a></p>
    {% else %}
    <h1>{{warn}}</h1>
    <p><a href="/scan">back to scan</a></p>
    {% endif %}
    {% else %}
	<h1>You do not have permissions</h1>
    <p><a href="/menu">menu</a></p>
    {% endif %}
</body>
</html>