<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    {% if current_user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url=/menu" />
	{% endif %}
</head>

<body>
<div class="container">
		<img src="{{url_for('static', filename='cropped-SANDERS-LOGO2-002.png')}}" alt="logo">
    {% if not current_user.is_authenticated %}
	{% if warn != 'none' %}
	<h1>{{warn}}</h1>
	{% endif %}
    <h1>LOGIN</h1>
	<form action="#" method="post">
	<label for="username">USERNAME</label>
	<input type="text" name="username" />
	<label for="password">PASSWORD</label>
	<input type="password" name="password" />
	<button type="submit">SUBMIT</button>
	{% endif %}
</div>
</body>
</html>