<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    <title>NEW USER</title>
</head>
<body>
	<div class="container">
		<div class="column-left">
    {% if current_user.creds | bitwise_and(1) == 1%}
	<h1 class="responsive-h1">CREATE ACCOUNT</h1>
	<form action="#" method="post">
	<label for="username">USERNAME</label>
	<input type="text" name="username" />
	<label for="password">PASSWORD</label>
	<input type="password" name="password" />
	<form>
		<input type="checkbox" id="ADMIN" name="admin" value="1">
		<label for="ADMIN">ADMIN</label>
		<input type="checkbox" id="REGISTER GUEST" name="opret_gest" value="2">
		<label for="REGISTER GUEST">REGISTER GUEST</label>
		<input type="checkbox" id="SCAN QR" name="scan" value="4">
		<label for="SCAN QR">SCAN QR</label>
		<button type="submit">SUBMIT</button>
	  </form>
	 		<a href="/menu"><button>HOME</button></a> 
    {% else %}
	<h1>You do not have permissions</h1>
	<p><a href="/menu">menu</a></p>
    {% endif %}
</body>
</html>