<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make User</title>
</head>
<body>
    {% if current_user.creds | bitwise_and(2) == 2%}
    <h1>Create an account</h1>
	<form action="#" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username" />
	<label for="password">Password:</label>
	<input type="password" name="password" />
	<label for="creds">Creds:</label>
	<input type="text" name="creds" />
	<button type="submit">Submit</button>
	</form>
    {% else %}
	<h1>You do not have permissions</h1>
    {% endif %}
</body>
</html>