<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if current_user.creds | bitwise_and(2) == 2%}
    <form action="#" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" />
    <label for="email">E-mail:</label>
    <input type="email" name="email" />
    <label for="room">Room:</label>
    <input type="number" name="room" />
    <label for="luggage_number">Luggage Number:</label>
    <input type="number" name="luggage_number" />
    <button type="submit">Submit</button>
    </form>
    {% else %}
	<h1>You do not have permissions</h1>
    {% endif %}
</body>
</html>