<!DOCTYPE html>
<html>
<head>
    <title>QR Code Scanner</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>
    <h1>QR Code Scanner</h1>
    <div id="reader" style="width:500px;"></div>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Handle the result here
            console.log(`Code scanned = ${decodedText}`, decodedResult);
            // Send the result to the Flask server
            location.replace("/hello_world")
            fetch('/scan', {    
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ data: decodedText }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function onScanFailure(error) {
            // Handle the scan failure here
            console.warn(`Code scan error = ${error}`);
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
</body>
</html>